<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>harm for allocating resources</title>
</head>
<body>
<div style="text-align: center;">
    <h3 >Harm is opposite of Happiness.Harm indicates the degree to which each person feels unpleasant or gets harm with resources. It is sometimes opposite of Happiness.</h3>
    <h3 >For example when allocating Fruit resource:</h3>
    <img src="{{ url_for('static', filename='image/allocating_harm.png') }}" alt="allocating_harm">
</div>

<button style="display: block; margin: auto; width: 100px;height: 100px; font-size: 20px" onclick="goBack()">Back</button>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
</body>
</html>