{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Resources Factors</title>#}
{#</head>#}
{#<body>#}
{#<h1 style="text-align:center">&nbsp;</h1>#}
{##}
{#<h1 style="text-align:center">&nbsp;</h1>#}
{##}
{#<h1 style="text-align:center">&nbsp;</h1>#}
{#{% if error %}#}
{#  <p style="color: red; text-align: center; font-size: large">{{ error }}</p>#}
{#{% endif %}#}
{#{% if error_r %}#}
{#  <p style="color: red; text-align: center; font-size: large">{{ error_r }}</p>#}
{#{% endif %}#}
{##}
{#<form method="post">#}
{#    <div style="text-align:center; font-size: 30px">#}
{#        <label for="input-number">How many People are involved in social dilemma (>=2 integer):</label>#}
{#        <input type="number" style="font-size: 30px;" id="input-number" name="allocate_num" min="2" step="1" value="{{ allocate_num }}">#}
{#        <br>#}
{#        <br>#}
{#        <label for="resource">Please input the resource (name) you want to allocate.</label><br>#}
{#        <label for="resource">E.g. water, coal, human resources, etc. (should enter single one):</label>#}
{#        <input type="text" style="font-size: 30px;" id="resource" name="resource" value="{{ resource }}">#}
{#        <br>#}
{#        <br>#}
{#        <label for="resource_num">Please enter Quantity of resources (>0 integer):</label>#}
{#        <input type="number" style="font-size: 30px;" id="resource_num" name="resource_num" min="0.1" step="0.1" value="{{ resource_num }}">#}
{#        <br>#}
{#        <br>#}
{#    </div>#}
{#    <button type="submit" style="display: block; margin: auto; width: 100px;height: 100px; font-size: 20px">Submit</button>#}
{#</form>#}
{#</body>#}
{#</html>#}

{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Input Preference</title>#}
{#</head>#}
{#<body>#}
{#<h1 style="text-align:center">&nbsp;</h1>#}
{##}
{#<h1 style="text-align:center">&nbsp;</h1>#}
{##}
{#<h1 style="text-align:center">&nbsp;</h1>#}
{#{% if error %}#}
{#  <p style="color: red; text-align: center; font-size: large">{{ error }}</p>#}
{#{% endif %}#}
{##}
{#{% if error_p %}#}
{#  <p style="color: red; text-align: center; font-size: large">{{ error_p }}</p>#}
{#{% endif %}#}
{##}
{#<form method="post">#}
{#    <div style="text-align:center; font-size: 30px">#}
{#        <label for="input-number">How many People are involved in social dilemma (>=2 integer):</label>#}
{#        <input type="number" style="font-size: 30px;" id="input-number" name="user_num" min="2" step="1" value="{{ user_num }}">#}
{#        <br>#}
{#        <br>#}
{#        <label for="preference">Please list the options that each of you would like (separate with commas',' and '/' is invalid, and should >=2):</label>#}
{#        <br>#}
{#        <input type="text" style="font-size: 30px;" id="preference" name="preference" value="{{ actions }}">#}
{#        <br>#}
{#        <label for="preference">Tip: Options could be where to eat (KFC, McDonald's), where to travel (London, Paris), ways for recreation (skating, skiing), etc.</label>#}
{#        <br>#}
{#        <br>#}
{#    </div>#}
{##}
{#    <div style="display: flex; align-items: center">#}
{#        {% for num in range(1,num_user) %}#}
{#            <div class="input-group">#}
{#                <h2>User{{ num }}</h2>#}
{#                <label for="user{{num}}p">Your Preference:</label>#}
{#                <input type="text" id="user{{num}}p" name="user{{num}}prefer"><br>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{#    <button type="submit" style="display: block; margin: auto; width: 100px;height: 100px; font-size: 20px">Submit</button>#}
{#</form>#}
{#</body>#}
{#</html>#}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Input Preferences</title>
        <!-- Font Awesome icons (free version)-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/css/styles.css" rel="stylesheet">
        <!-- Fonts CSS-->
        <link rel="stylesheet" href="../static/css/heading.css">
        <link rel="stylesheet" href="../static/css/body.css">
    </head>
    <body id="page-top">
    <form method="post">

    <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">

            <div class="container"><a class="navbar-brand js-scroll-trigger" href="#portfolio">Allocating Resources</a>
                <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ url_for('hello_world') }}">BACK to Homepage</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="page-section portfolio" id="portfolio">
            <div class="text-center">
            {% if error %}
                <h1 style="text-align:center">&nbsp;</h1>
                <h1 style="text-align:center">&nbsp;</h1>
                <h2 class="page-section-heading text-secondary mb-0 d-inline-block" style="font-size: larger;">{{ error }}</h2>
                {% if not allocate_num %}
                    <div class="container d-flex align-items-center flex-column"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="color: white; font-weight: bold; font-size: larger; text-decoration: none; border: 1px #88dccc; padding: 5px;  background-color: #88dccc;" href="#input-number">Go to Fix</a></div>
                {% else %}
                    <div class="container d-flex align-items-center flex-column"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="color: white; font-weight: bold; font-size: larger; text-decoration: none; border: 1px #88dccc; padding: 5px;  background-color: #88dccc;" href="#resource_num">Go to Fix</a></div>
                {% endif %}
            {% elif error_p %}
                <h1 style="text-align:center">&nbsp;</h1>
                <h1 style="text-align:center">&nbsp;</h1>
                <h2 class="page-section-heading text-secondary mb-0 d-inline-block" style="font-size: larger;">{{ error_p }}</h2>
                <div class="container d-flex align-items-center flex-column"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="color: white; font-weight: bold; font-size: larger; text-decoration: none; border: 1px #88dccc; padding: 5px;  background-color: #88dccc;" href="#resource">Go to Fix</a></div>
            {% endif %}
            </div>
            <h1 style="text-align:center">&nbsp;</h1>
            <h1 style="text-align:center">&nbsp;</h1>
            <div class="container">
                <!-- Portfolio Section Heading-->
                <div class="text-center">
                    <h2 class="page-section-heading text-secondary mb-0 d-inline-block">How many People are involved</h2>
                    <br>
                    <br>
                    <h2 class="page-section-heading text-secondary mb-0 d-inline-block">in social dilemma (>=2 integer)?</h2>
                </div>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="container d-flex align-items-center flex-column">
                <input type="number" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="color: white; font-weight: bold; font-size: xx-large; text-decoration: none; border: 1px #ba8b00; padding: 5px;  background-color: #ba8b00;  " id="input-number" name="allocate_num" min="2" step="1" value="{{ allocate_num }}">
                </div>
        </div>
            <br>
            <br>
            <br>
        <div class="container d-flex align-items-center flex-column"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="color: white; font-weight: bold; font-size: xx-large; text-decoration: none; border: 1px #88dccc; padding: 5px;  background-color: #88dccc;" href="#about">Next Question</a></div>
        <h1 style="text-align:center">&nbsp;</h1>


        </section>
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <div class="text-center">
                    <h2 class="page-section-heading text-secondary mb-0 d-inline-block">Please input the resource (name) you want to allocate.</h2>
                    <br>
                    <br>
                    <h2 class="page-section-heading text-secondary mb-0 d-inline-block">E.g. water, coal, human resources, etc. (should enter single one):</h2>
                </div>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
{#                <div class="container d-flex align-items-center flex-column"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="color: white; font-weight: bold; font-size: xx-large; text-decoration: none; border: 1px #88dccc; padding: 5px;  background-color: #88dccc;" data-toggle="modal" data-target="#portfolioModal0" href="javascript:void(0)">Info</a> </div>#}
                <br>
                <div class="container d-flex align-items-center flex-column">
                        <input type="text" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="color: white; font-weight: bold; font-size: xx-large; text-decoration: none; border: 1px #ba8b00; padding: 5px;  background-color: #ba8b00;  " id="resource" name="resource" value="{{ resource }}">
                </div>
                <br>
            <br>
            <br>

        <div class="container d-flex align-items-center flex-column"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="color: white; font-weight: bold; font-size: xx-large; text-decoration: none; border: 1px #88dccc; padding: 5px;  background-color: #88dccc;" href="#resourcenum">Next Question</a></div>
        <h1 style="text-align:center">&nbsp;</h1>
        </section>



        <section class="page-section portfolio" id="resourcenum">
            <div class="container">
                <!-- About Section Heading-->
                <div class="text-center">
                    <h2 class="page-section-heading text-secondary mb-0 d-inline-block">Please enter Quantity of resources</h2>
                    <br>
                    <br>
                    <h2 class="page-section-heading text-secondary mb-0 d-inline-block"> (>0 integer):</h2>
                </div>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
{#                <div class="container d-flex align-items-center flex-column"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="color: white; font-weight: bold; font-size: xx-large; text-decoration: none; border: 1px #88dccc; padding: 5px;  background-color: #88dccc;" data-toggle="modal" data-target="#portfolioModal0" href="javascript:void(0)">Info</a> </div>#}
                <br>
                <div class="container d-flex align-items-center flex-column">
                        <input type="number" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="color: white; font-weight: bold; font-size: xx-large; text-decoration: none; border: 1px #ba8b00; padding: 5px;  background-color: #ba8b00;  " id="resource_num" name="resource_num" min="0.1" step="0.1" value="{{ resource_num }}">
                </div>
                <br>
            <br>
            <br>
            <div class="container d-flex align-items-center flex-column">
            <button class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="color: white; font-weight: bold; font-size: xx-large; text-decoration: none; border: 1px #ed969e; padding: 5px;  background-color: #ed969e;" type="submit" >SUBMIT</button></div>
{#        <h1 style="text-align:center">&nbsp;</h1>#}
            </div>
        </section>

{##}
{#        <div class="portfolio-modal modal fade" id="portfolioModal0" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal0Label" aria-hidden="true">#}
{#            <div class="modal-dialog modal-xl" role="document">#}
{#                <div class="modal-content">#}
{#                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>#}
{#                    <div class="modal-body text-center">#}
{#                        <div class="container">#}
{#                            <div class="row justify-content-center">#}
{#                                <div class="col-lg-8">#}
{#                                    <!-- Portfolio Modal - Title-->#}
{#                                    <p class="mb-5" style="font-size: larger">Tip: Options could be where to eat (KFC, McDonald's), where to travel (London, Paris), ways for recreation (skating, skiing), etc.</p>#}
{#                                    <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        </form>
        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
        <div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="assets/mail/jqBootstrapValidation.js"></script>
        <script src="assets/mail/contact_me.js"></script>
        <!-- Core theme JS-->
        <script src="../static/js/scripts.js"></script>
    </body>
</html>