<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>luck for making the best decision</title>
</head>
<body>
<div style="text-align: center;">
    <h3 >Representing personal situation (family background, economic circumstances, etc.) that each user cannot control over.</h3>
    <h3 >For example when deciding the best consumption:</h3>
    <img src="{{ url_for('static', filename='image/luck_deciding.png') }}" style="max-width: 100%;" alt="luck_deciding">
    <br>
    <br>
    <h3 >Another an example when deciding the best library:</h3>
    <img src="{{ url_for('static', filename='image/luck_deciding2.png') }}" style="max-width: 100%;" alt="luck_deciding2">
</div>

<button style="display: block; margin: auto; width: 100px;height: 100px; font-size: 20px" onclick="goBack()">Back</button>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
</body>
</html>