<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>scenarios</title>
</head>
<body>
<h1 style="text-align:center">&nbsp;</h1>

<h1 style="text-align:center">&nbsp;</h1>

<h1 style="text-align:center"><strong>What Kind of Social Dilemma Scenarios</strong></h1>

<h1 style="text-align:center"><strong>do you want to solve?</strong></h1>

<form method="post">
    <div style="text-align:center">
        <button type="submit" name="action" value="allocating" style="width: 150px;height: 100px;font-size: large; margin-right: 20px;">Allocating Resources</button>
        <button type="submit" name="action" value="deciding" style="width: 150px;height: 100px;font-size: large">Deciding the Best Action</button>
    </div>
</form>
<br>
<h3 style="text-align:center">Allocating Resources: When a social group needs limited resources, allocating them fairly to users with different conditions can be challenging, such as allocating limited medical equipment, natural resources, etc.</h3>
<h3 style="text-align:center">Deciding the Best Action: When a group decides to do something, but many people have different preferences or want to do different things makes it difficult to decide which choice is the best quickly. For example, a group decides which restaurant to eat at, which country to travel to, which product to choose from, etc.</h3>
</body>
</html>