<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Allocated Resources based on each Ethics Principle</title>
</head>
<style>
  .output {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: auto;
  }
</style>
<body>
<h1 style="text-align:center"> </h1>
<h1 style="text-align:center"> </h1>
<h1 style="text-align:center">Here are Outputs based on each Ethics Principles</h1>
<h3 style="text-align:center">tip: Click Principles to show explanation</h3>
<div class="output">
    <h2 title="For limited resources, allocate resources proportionally according to the utility/happiness of the users."><a href="{{ url_for('utilitarianism_allocating', resource_num=resource_num, resource=resource, num_user=num_user, utilitarianism=utilitarianism, happiness=happiness) }}">Utilitarianism</a></h2>
    {% if utilitarianism is string %}
        <label>{{ utilitarianism }}</label><br>
    {% else %}
        {% for num in range(1,num_user + 1) %}
            <label>User{{ num }}: <b>{{ utilitarianism[num-1] }}</b><br></label><br>
        {% endfor %}
    {% endif %}
    <h2 title="For limited resources, sort each user’s Envy, and flip each Envy as new proportions weight for allocating resources."><a href="{{ url_for('envyfreeness_allocating', resource_num=resource_num, resource=resource, num_user=num_user, envyfreeness=envyfreeness, envy=envy) }}">Envy-Freeness</a></h2>
    {% if envyfreeness is string %}
        <label>{{ envyfreeness }}</label><br>
    {% else %}
        {% for num in range(1,num_user + 1) %}
            <label>User{{ num }}: <b>{{ envyfreeness[num-1] }}</b><br></label><br>
        {% endfor %}
    {% endif %}
    <h2 title="Calculate the value of contribution – luck for each user. Then allocate resources proportionally according to the difference."><a href="{{ url_for('desertbased_allocating', resource_num=resource_num, resource=resource, num_user=num_user, desertbased_proportionalism=desertbased_proportionalism, contribution=contribution, luck=luck) }}">DesertBased Proportionalism</a></h2>
    {% if desertbased_proportionalism is string %}
        <label>{{ desertbased_proportionalism }}</label><br>
    {% else %}
        {% for num in range(1,num_user + 1) %}
            <label>User{{ num }}: <b>{{ desertbased_proportionalism[num-1] }}</b><br></label><br>
        {% endfor %}
    {% endif %}
    <h2 title="For limited resources, allocate resources proportionally according to the contribution of the users."><a href="{{ url_for('libertarian_allocating', resource_num=resource_num, resource=resource, num_user=num_user, libertarian_proportionalism=libertarian_proportionalism, contribution=contribution) }}">Libertarian Proportionalism</a></h2>
    {% if libertarian_proportionalism is string %}
        <label>{{ libertarian_proportionalism }}</label><br>
    {% else %}
        {% for num in range(1,num_user + 1) %}
            <label>User{{ num }}: <b>{{ libertarian_proportionalism[num-1] }}</b><br></label><br>
        {% endfor %}
    {% endif %}
    <h2 title="For limited resources, calculate the luck value proportions of users and flip them as the weight of allocating resources."><a href="{{ url_for('luckegalitarianism_allocating', resource_num=resource_num, resource=resource, num_user=num_user, luck_egalitarianism=luck_egalitarianism, luck=luck) }}">Luck Egalitarianism</a></h2>
    {% if luck_egalitarianism is string %}
        <label>{{ luck_egalitarianism }}</label><br>
    {% else %}
        {% for num in range(1,num_user + 1) %}
            <label>User{{ num }}: <b>{{ luck_egalitarianism[num-1] }}</b><br></label><br>
        {% endfor %}
    {% endif %}
    <h2 title="For limited resources, allocate resources proportionally according to the Autonomy of the users."><a href="{{ url_for('autonomyegalitarianism_allocating', resource_num=resource_num, resource=resource, num_user=num_user, autonomy_egalitarianism=autonomy_egalitarianism, autonomy=autonomy) }}">Autonomy Egalitarianism</a></h2>
    {% if autonomy_egalitarianism is string %}
        <label>{{ autonomy_egalitarianism }}</label><br>
    {% else %}
        {% for num in range(1,num_user + 1) %}
            <label>User{{ num }}: <b>{{ autonomy_egalitarianism[num-1] }}</b><br></label><br>
        {% endfor %}
    {% endif %}
    <h2 title="For limited resources, allocate resources proportionally according to the Harm of the users."><a href="{{ url_for('nonmaleficence_allocating', resource_num=resource_num, resource=resource, num_user=num_user, nonmaleficence_egalitarianism=nonmaleficence_egalitarianism, harm=harm) }}">NonMaleficence Egalitarianism</a></h2>
    {% if nonmaleficence_egalitarianism is string %}
        <label>{{ nonmaleficence_egalitarianism }}</label><br>
    {% else %}
        {% for num in range(1,num_user + 1) %}
            <label>User{{ num }}: <b>{{ nonmaleficence_egalitarianism[num-1] }}</b><br></label><br>
        {% endfor %}
    {% endif %}
    <h2 title="For limited resources, allocate resources proportionally according to the Opportunity of the users."><a href="{{ url_for('equalityopportunity_allocating', resource_num=resource_num, resource=resource, num_user=num_user, equality_opportunity=equality_opportunity, opportunity=opportunity) }}">Equality Opportunity</a></h2>
    {% if equality_opportunity is string %}
        <label>{{ equality_opportunity }}</label><br>
    {% else %}
        {% for num in range(1,num_user + 1) %}
            <label>User{{ num }}: <b>{{ equality_opportunity[num-1] }}</b><br></label><br>
        {% endfor %}
    {% endif %}
</div>
<br>
<form method="post">
    <div style="text-align:center">
        <button type="submit" name="back" style="width: 150px;height: 100px;font-size: large; margin-right: 20px;">Back to Homepage</button>
    </div>
</form>
</body>
</html>