<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>happiness for allocating resources</title>
</head>
<body>
<div style="text-align: center;">
    <h3 >Represents each user’s level of usefulness or satisfaction with resources.</h3>
    <h3 >For example when allocating Water resource:</h3>
    <img src="{{ url_for('static', filename='image/allocating_happiness.png') }}" alt="allocating_happiness">
</div>

<button style="display: block; margin: auto; width: 100px;height: 100px; font-size: 20px" onclick="goBack()">Back</button>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
</body>
</html>