<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>autonomy for making the best decision</title>
</head>
<body>
<h3 >Representing the degree of freedom each person has for different behaviours.</h3>
<h3 >For examples:</h3>
<div style="display: flex; align-items: center;">
    <h3 >When Deciding the Restaurant:</h3>
    <img src="{{ url_for('static', filename='image/autonomy_deciding.png') }}" alt="autonomy_deciding">
    <h3 >When Deciding the Library:</h3>
    <img src="{{ url_for('static', filename='image/autonomy_deciding2.png') }}" alt="autonomy_deciding2">
</div>

<button style="display: block; margin: auto; width: 100px;height: 100px; font-size: 20px" onclick="goBack()">Back</button>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
</body>
</html>