<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Solving Social Dilemma</title>
</head>
<body>
<h1 style="text-align:center">&nbsp;</h1>

<h1 style="text-align:center">&nbsp;</h1>

<h1 style="text-align:center">&nbsp;</h1>

<h1 style="text-align:center"><strong>Welcome to &#39;Solving Social Dilemma&#39;</strong></h1>

<form method="POST">
<div style="text-align:center">
         <button style="width: 100px;height: 100px;font-size: large">START</button>
</div>

</form>
</body>
</html>